:root{
    --color_1:#5865f2;
    --color_2:#40444b;
    --color_3:#DCDDDE;
    --color_4:#3390ff;
    --color_5:#2f3136;
    --color_6:#36393f;
    --color_7:#72767d;
    --color_8:#5865f2;



}
:root{
    --outline_color:var(--color_1);
    --footer_color:var(--color_1);
    --textinput_color:var(--color_2);
    --textinput_font_color:var(--color_3);
    --caret_color:var(--color_3);
    --selection_color:var(--color_4);
    --textinput_placeholder_color:var(--color_7);
    --box2_color:var(--color_5);
    --box2_font_color:var(--color_3);
    --box3_color:var(--color_6);
    --box3_font_color:var(--color_3);
    --box4_color:var(--color_5);
    --box4_font_color:var(--color_3);
    --dataset_color:var(--color_6);
    --randgen_color:var(--color_6);
    --messages_color:var(--color_6);
    --message_color:var(--color_5);
    --message_border_color:var(--color_2);
    --message_font_color:var(--color_3);
    --forminp_color:var(--color_6);
    --forminp_font_color:var(--color_3);
    --border_color:var(--color_2);
    --edited_color:var(--color_2);
    --edited_font_color:var(--color_3);
    --closebtn_color:#cf286a;
    --unselected_tab_color: var(--color_8);
    --selected_tab_font_color:var(--color_8);
    --tabbutton_font_color:#ebebeb;
    --tabbutton_color:var(--color_8);
    --datapul_color:var(--color_2);
    --datapul_selected_color:#37373d;
    --replace_list_color:var(--color_2);
    --checked_color:#ffff00;
    --button_color:var(--color_8);
    --button_border_color:var(--color_2);
    --button_font_color:#ebebeb;
    --datgen_border_color:var(--color_2);
    --datgen_color:var(--color_6);
    --addmess_font_color:#ebebeb;
    --liner_font_color:var(--color_3);
    --blocker_font_color:var(--color_3);
}
.tab_item{
    color:#ebebeb
}