@import url(themes/01.css);
button{
    color: var(--button_font_color);
    background-color: var(--button_color);
    border: 1px solid var(--button_border_color);
}
*:focus{
    outline: var(--outline_color) solid 1px;
    outline-offset: -1px;
}
::selection{
    background: var(--selection_color);
    caret-color: var(--caret_color);
}
html{
    height: 100%;
    overflow: hidden;
    font-family: sans-serif;
}
body{
    margin:0;
    padding:0;
}
code{
    background-color: white;
}
a:visited{
    color: blue;
    text-decoration: none;
}
li{
    margin-left: 3px;
}

#box{
    display: flex;
    width: 100%;
    height: 100vh;
}

#box2, #box3,#box4 {
    color:white;
    border: solid 1px var(--border_color); 
    min-width : 0px;
    box-sizing: border-box;
}

#box2{
    overflow: auto;
    text-align: center;
    flex-grow : 0;
    width : 25%;
    background-color: var(--box2_color);
    color: var(--box2_font_color);
}

#box3{
    width : 50%;
    background-color: var(--box3_color);
    color: var(--box3_font_color);
}

#box4{
    background-color: var(--box4_color);
    color: var(--box4_font_color);
    flex-grow : 0;
    width : 25%;
    display: flex;
    flex-direction: column;
}

#template{
    height: 15vw;
    width: 20vw;
    resize : vertical;
    overflow: auto;
    background-color: white;
    text-align: left;
    border: solid 1px var(--border_color);
    margin: 2% auto;
    line-height: 1.2;
    font-family: sans-serif;
    font-size: 16px;
}

#edited{
    color: var(--edited_font_color);
    height:15vw;
    width:20vw;
    resize:none;
    background-color: var(--edited_color);
    text-align: left;
    border: solid 1px var(--border_color);
    margin: 2% auto;
    line-height: 1.2;
    overflow : auto;
    font-family: sans-serif;
    font-size: 16px;
}

h1,h2{
    margin: 0.2em 0;
    text-align: center;
}

#temp_change{
    width: 5vw;
    height: 2.5vw;
    border-radius: 1.2vw;
}
#messages{
    background-color: var(--messages_color);
    height: 70%;
    resize : vertical;
    overflow:auto;
    pointer-events: auto;
    flex-grow: 1;
}
#form_inp{
    flex-grow: 1;
    vertical-align: top;
    font-size: 17px;
    line-height: 22px;
    overflow-y : scroll;
    border: solid 1px var(--border_color);
    background-color: var(--forminp_color);
    height: calc(30% - 2ex - 8px);
    padding: 3px;
    color: var(--forminp_font_color);
}
.\$,.datgen_div {
    margin: 1px;
    display: inline-block;
    width:10%;
    height: 22px;
    resize:horizontal;
    overflow: hidden;
    padding:0;
    margin:1;
    vertical-align: top;
    color: black;
}
.datgen_div{
    width:12rem;
}
#datgen_list li{
    width: 100%;
}
.\$text,.datgen_div input {
    font-family: sans-serif;
    font-size: 17px;
    padding:0;
    height: 100%;
    width: 100%;
    background-color: white;
    box-sizing: border-box;
    border: solid 1.5px var(--border_color);
    vertical-align: top;
}
.\| {
    display: block;
    font-size: 16px;
    height: 4rem;
    resize: vertical;
    overflow-y: scroll;
    font-family: sans-serif;
    margin: 1px;
    width: 100%;
    box-sizing: border-box;
}

.\|:empty:before{
    color: var(--textinput_placeholder_color);
    content: attr(placeholder);
    pointer-events: none;
}
::placeholder{
    color: var(--textinput_placeholder_color);
}
.messagediv{
    color: var(--message_font_color);
    border: solid var(--message_border_color) 1px;
    border-left-width: 5px;
    margin:5px;
    background-color: var(--message_color);
    padding:5px 0;
    padding-top: 0;
    resize: vertical;
    overflow-y: scroll;
}
.messagediv:hover{
    filter:brightness(110%)
}
.message{
    padding: 0 5px;
}
#datapul{
    box-sizing: content-box;
    display: block;
    width: 20vw;
    border: solid 1px var(--border_color);
    background-color: var(--datapul_color);
    color: var(--box4_font_color);
    font-family: sans-serif;
    margin: 0 auto;
    margin-bottom: 10px;
}
#datapul option[selected]{
    background-color: var(--datapul_selected_color);
}
#datapul option:checked{
    background-color: var(--datapul_selected_color) !important;
}
.messagehead{
    background-color: var(--message_color);
    filter: brightness(0.95);
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.closebtn{
    margin: 0;
    margin-top: 0.1rem;
    margin-left: 30px;
    display: block;
    background-color: var(--closebtn_color);
    color: black;
    text-align: center;
    border: none;
    padding: 0;
    width: 20px;
    height: 20px;
    font-size: 20px;
    border-radius: 10px;
}

.dragover{
    border: dashed 2px var(--border_color);
}
.nonono :not(.messagediv){
    pointer-events:none;
}
#mesandform{
    padding-top: 3px;
    height: 97vh;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}
#tab{
    height: 3vh;
    display: flex;
}
#tab_header{
    height: 100%;
    width: calc(100% - 4rem);
    padding: 0;
    overflow: hidden;
}
#tab_header_in{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-top:"-3vh"
}
#tab_prev,#tab_next,#tab_start,#tab_end{
    user-select: none;
    box-sizing: border-box;
    border: var(--border_color) solid 1px;
    height: 3vh;
    width: 1rem;
    color: var(--tabbutton_font_color);
    line-height: 3vh;
    background-color: var(--tabbutton_color);
}
#tab_prev:hover,#tab_next:hover,#tab_start:hover,#tab_end:hover{
    filter: brightness(1.2);
}
#tab_prev:active,#tab_next:active,#tab_start:active,#tab_end:active{
    filter: brightness(0.7);
}
.tab_item{
    user-select: none;
    flex-grow: 1;
    display: block;
    padding: 1px;
    padding-top: 0;
    font-size: 2.5vh;
    line-height: 3vh;
    height: 3vh;
    text-align: center;
    background-color: var(--unselected_tab_color);
    margin: 0;
    margin-bottom: 1vh;
    box-sizing: border-box;
    border-right: solid 1px var(--border_color);
}
.tab_item:hover {
    filter: brightness(1.2);
}
input[name="tab_item"] {
    display: none;
}
#tab_header_in input:checked + .tab_item{
    background-color: var(--box3_color);
    color: var(--selected_tab_font_color);
    border-bottom: none;
}
#tab_header_in input:checked + .tab_item:hover{
    filter: none;
}
#tab_cont>*:not(.radised){
    display: none;
}
.neko{
    border: var(--border_color) 1px solid;
    margin:5px;
    background-color: var(--message_color);
    padding:5px;
    padding-top: 0;
}
#dataset{
    border: solid 1px var(--border_color);
}
#randgenbox{
    border: solid 1px var(--border_color);
    flex-grow: 1;

}
#plaintext{
    display: flex;
    padding: 5vh;
}
#plainsidemenu{
    display: flex;
    flex-direction: column;
    padding-left: 10px;
    width:35%
}
#previewplaindiv{
    width: 65%;
    font-size: 1.2rem;
}
#previewplain{
    box-sizing: border-box;
    display: block;
    border: solid 2px var(--border_color);
    margin: auto;
    height: 87vh;
    width: 100%;
    resize: none;
    overflow-y: scroll;
}
#plainset{
    border: solid 2px var(--border_color);
    display: block;
    resize: none;
    overflow-y: scroll;
    font-size: 1.2rem;
    height: 30vh;
    width: 100%;
    box-sizing: border-box;
}
#randlen,#randman{
    width: 3rem;
}
#randgenopt{
    resize: none;
    overflow-y: scroll;
    display: block;
    width: 20vw;
    border: solid 1px var(--border_color);
    font-family: sans-serif;
    margin: 0 auto;
}
#datbutton{
    margin-top: 10;
    margin-left:70%;
}
#datgen{
    width: 100%;
}
#datgen_list{
    width: 80%;
    margin: 0 auto;
    background-color: var(--datgen_color);
    border: 10px var(--datgen_border_color) solid;
    border-radius: 5px;
    padding: 5px;
}
#save_button,#tempsave_button{
    background-color: #00AA00;
    border: none;
}
#saveload{
    padding-left: 15%;
}
#saveload>*{
    text-align: left;
}
#load_button{
    background-color: #DD0000;
    border: none;
}
#subsnum{
    width: 3rem;
}
#subssel{
    width: 7rem;
}
#preview{
    color: var(--box2_font_color);
    display: block;
    overflow-y: scroll;
    height: 97vh;
}
#abss{
    position: relative;
}
.abssc{
    color: var(--box2_font_color);
    position: absolute;
    min-width: 30%;
    background-color: var(--message_color);
    pointer-events: none;
    visibility: hidden;
    width: auto;
}
.abssneko{
    width: 100%;
    border: solid 1px var(--border_color);
    margin: 0;
    padding: 0;
    pointer-events: auto;
    overflow-wrap : break-word;
}
.abssc:hover,.abssc[data-flag="true"],.abssc:hover~.abssc{
    visibility: visible;
}

#replace button{
    width: 50%;
    margin-bottom: 0;
    margin-top: auto;
}
#replace_list{
    background-color: var(--replace_list_color);
    display: block;
    margin-top: 0;
    margin-bottom: 0;
    height: 100%;
    overflow-y: scroll;
    width: 100%;
    resize: none;
}
#replace_div{
    width: 40%;
    display: block;
    height: 20vh;
    resize: none;
    margin: auto;
    margin-top: 3vh;
}
header{
    overflow-y: hidden;
    overflow-x:auto;
}
#messv{
    display: block;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    line-height: calc(2ex + 2px);
    box-sizing: border-box;
}
#mess_add{
    color: var(--addmess_font_color);
    background-color: var(--footer_color);
    box-sizing: border-box;
    display: block;
    height: 100%;
    width: 100%;
    padding: 2px;
}
#addmesssetts{
    background-color: var(--footer_color);
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    min-height: calc(2ex + 8px);
    height: calc(2ex + 8px);
    padding: 2px;
}
#messvdiv{
    margin-right: 5px;
    width: 3rem;
    height: calc(2ex + 4px);
}
#mess_adddiv{
    height: calc(2ex + 4px);
}
#plainsearchdiv,#plainreplacediv{
    display: flex;
    height: calc(1.2rem + 4px);
}
#ps_reg,#plainsearch,#plainreplace{
    border: solid 2px var(--border_color);
    font-size: 1.2rem;
    overflow: hidden;
    line-height: 1.2rem;
    height: 100%;
    box-sizing: border-box;
}
.indent{
    height: 1.2rem;
    width: 1.2rem;
    overflow: hidden;
}
#ps_reg{
    width:1.2rem;
}
#ps_reg_label{
    background-color: var(--tabbutton_color);
    color: var(--textinput_font_color);
    cursor: pointer;
    user-select: none;
}
#ps_reg_cb:checked+#ps_reg_label{
    color: var(--checked_color);
}
#ps_reg_label:hover:not(#ps_reg_cb:checked+#ps_reg_label){
    filter: brightness(1.2);
}
#ps_reg_cb{
    display: none;
}
#plainsearch,#plainreplace{
    display: block;
    resize: none;
    width: calc(100% - 2.4rem);
    overflow-y: scroll;
}
#plainreplace{
    width: calc(100% - 3.6rem)
}
#plainreplacebutton{
    margin: 0;
    padding: 1px;
    width: 2.4rem;
    font-size: 1rem;
    line-height: 1.2rem;
}
#temp_select{
    display: flex;
    justify-content: center;
}
#temp_select_number{
    box-sizing: border-box;
    text-align: center;
    width: 3rem;
}
.no-spin::-webkit-inner-spin-button,
.no-spin::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
    -moz-appearance:textfield;
}
.tempselectdiv{
    margin: 0

}
.tempselect{
    display: inline-block;
    width: 2rem;
}
textarea,input[type="text"],input[type="number"]{
    background-color: var(--textinput_color) !important;
    color: var(--textinput_font_color) !important;
    border: none;
}
button:hover{
    filter: brightness(1.2);
}
button:active{
    filter: brightness(0.7);
}