button{
    color: var(--button_font_color);
    background-color: var(--button_color);
    border: 1px solid var(--button_border_color);
}
*:focus{
    outline: var(--outline_color) solid 1px;
    outline-offset: -1px;
}
::selection{
    background: var(--selection_color);
    caret-color: var(--caret_color);
}
html{
    height: 100%;
    overflow: hidden;
    font-family: sans-serif;
}
body{
    margin:0;
    padding:0;
}
code{
    background-color: white;
}
a:visited{
    color: blue;
    text-decoration: none;
}
li{
    margin-left: 3px;
}

#box{
    display: flex;
    width: 100%;
    height: 100vh;
}

#box2, #box3,#box4{
    color:white;
    border: solid 1px var(--border_color); 
    min-width: 9rem;
    box-sizing: border-box;
    overflow: hidden !important;
}
#box2{
    display: flex;
    flex-direction: column;
    min-width: 9rem;
    border-right: none;
    overflow: auto;
    width : calc(25% - 1px);
    background-color: var(--box2_color);
    color: var(--box2_font_color);
}
.mainer[data-mainub="0"]{
    text-align: center;
    display: flex;
    flex-direction: column;
}
#box3{
    border-left: none;
    border-right: none;
    width : calc(50% - 2px);
    background-color: var(--box3_color);
    color: var(--box3_font_color);
}

#box4{
    background-color: var(--box4_color);
    color: var(--box4_font_color);
    width : calc(25% - 1px);
    display: flex;
    flex-direction: column;
    border-left: none;
}

#template{
    height: 40%;
    width: 80%;
    resize : none;
    overflow: auto;
    background-color: white;
    text-align: left;
    border: solid 1px var(--border_color);
    margin: 0 auto;
    line-height: 1.2;
    font-family: sans-serif;
    font-size: 16px;
    display: block;

}

#edited{
    display: block;
    color: var(--edited_font_color);
    height:40%;
    width:80%;
    resize:none;
    background-color: var(--edited_color);
    text-align: left;
    border: solid 1px var(--border_color);
    margin: 0 auto;
    line-height: 1.2;
    overflow : auto;
    font-family: sans-serif;
    font-size: 16px;
}

h1,h2{
    margin: 0.2em 0;
    text-align: center;
}

#temp_change{
    display: block;
    margin: 0 auto;
    width: 3rem;
    height: 5%;
}
#messages{
    background-color: var(--messages_color);
    height: 70%;
    overflow:auto;
    pointer-events: auto;
}
#form_inp{
    vertical-align: top;
    font-size: 15px;
    line-height: 20px;
    overflow-y : scroll;
    border: solid 1px var(--border_color);
    background-color: var(--forminp_color);
    height: calc(30% - 2ex - 8px - 4px);
    padding: 3px;
    color: var(--forminp_font_color);
}
.\$,.datgen_div {
    margin: 1px;
    display: inline-block;
    width:10%;
    height: 22px;
    resize:horizontal;
    overflow: hidden;
    padding:0;
    margin:1;
    vertical-align: top;
    color: black;
}
.datgen_div{
    width:12rem;
}
#datgen_list li{
    width: 100%;
}
.\$text,.datgen_div input {
    font-family: sans-serif;
    font-size: 15px;
    padding:0;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    border: solid 1.5px var(--border_color);
    vertical-align: top;
}
.\$text{
    color: var(--liner_font_color) !important
}
.\| {
    color: var(--blocker_font_color) !important;
    display: block;
    font-size: 15px;
    height: 4rem;
    margin: 1px;
    resize: vertical;
    overflow-y: scroll;
    font-family: sans-serif;
    width: 100%;
    box-sizing: border-box;
}

.\|:empty:before{
    color: var(--textinput_placeholder_color);
    content: attr(placeholder);
    pointer-events: none;
}
::placeholder{
    color: var(--textinput_placeholder_color);
}
.messagediv{
    font-size: 15px;
    line-height: 20px;
    color: var(--message_font_color);
    border: solid var(--message_border_color) 1px;
    border-left-width: 5px;
    margin:5px;
    background-color: var(--message_color);
    padding:5px 0;
    padding-top: 0;
    resize: vertical;
    overflow-y: scroll;
}
.messagediv:hover{
    filter:contrast(87%)
}
.message{
    padding: 0 5px;
}
#datapul{
    box-sizing: content-box;
    display: block;
    width: 80%;
    height: 40%;
    border: solid 1px var(--border_color);
    background-color: var(--datapul_color);
    color: var(--box4_font_color);
    font-family: sans-serif;
    margin: 0 auto;
    margin-bottom: 10px;
}
.messagehead{
    background-color: var(--message_color);
    display: flex;
}

.closebtn{
    margin: 0;
    margin-top: 0.1rem;
    margin-left: 30px;
    display: block;
    background-color: var(--closebtn_color);
    color: black;
    text-align: center;
    border: none;
    padding: 0;
    width: 20px;
    height: 20px;
    font-size: 20px;
    border-radius: 10px;
    visibility: hidden;
}
.messagediv:hover .closebtn{
    visibility: visible;
}

.dragover{
    border: dashed 2px var(--border_color);
}
.nonono :not(.messagediv){
    pointer-events:none;
}
.nonono_resize :not(.draggingresizer){
    pointer-events:none;
    user-select: none;
}
.nonono_startmenu :not(#startmenu,#startmenuback){
    pointer-events:none;
    user-select: none;
    filter: blur(1px);
}
#mesandform{
    padding-top: 3px;
    height: 97vh;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}
#tab{
    height: 3vh;
    display: flex;
}
#tab_header{
    height: 100%;
    width: calc(100% - 4rem);
    padding: 0;
    overflow: hidden;
}
#tab_header_in{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
.tab_controller{
    user-select: none;
    box-sizing: border-box;
    border: var(--border_color) solid 1px;
    height: 3vh;
    width: 1rem;
    color: var(--tabbutton_font_color);
    line-height: 3vh;
    background-color: var(--tabbutton_color);
}
.tab_controller:hover{
    filter: brightness(1.2);
}
.tab_controller:active{
    filter: brightness(0.7);
}
.tab_item{
    user-select: none;
    flex-grow: 1;
    display: block;
    padding: 1px;
    padding-top: 0;
    font-size: 2.5vh;
    line-height: 3vh;
    height: 3vh;
    text-align: center;
    background-color: var(--unselected_tab_color);
    margin: 0;
    margin-bottom: 1vh;
    box-sizing: border-box;
    border-right: solid 2px var(--border_color);
}
.tab_item:hover {
    filter: brightness(1.2);
}
input[name="tab_item"] {
    display: none;
}
#tab_header_in input:checked + .tab_item{
    background-color: var(--box3_color);
    color: var(--selected_tab_font_color);
    border-bottom: none;
}
#tab_header_in input:checked + .tab_item:hover{
    filter: none;
}
#tab_cont{
    height: calc(100% - 3vh);
    width: 100%;
}
#tab_cont>*:not(.radised){
    display: none;
}
.neko{
    border: var(--border_color) 1px solid;
    margin:5px;
    background-color: var(--message_color);
    padding:5px;
    padding-top: 0;
}
#box4_1{
    border: solid 1px var(--border_color);
    border-bottom: none;
    height: calc(50% - 1px);
}
#box4_2{
    border: solid 1px var(--border_color);
    border-top: none;
    height: calc(50% - 1px)
}
#plaintext{
    display: flex;
    padding: 5vh;
}
#plainsidemenu{
    display: flex;
    flex-direction: column;
    padding-left: 10px;
    width:35%
}
#previewplaindiv{
    width: 65%;
    font-size: 1.2rem;
}
#previewplain{
    box-sizing: border-box;
    display: block;
    border: solid 2px var(--border_color);
    margin: auto;
    height: 87vh;
    width: 100%;
    resize: none;
    overflow-y: scroll;
}
#plainset{
    border: solid 2px var(--border_color);
    display: block;
    resize: none;
    overflow-y: scroll;
    font-size: 1.2rem;
    height: 30vh;
    width: 100%;
    box-sizing: border-box;
}
#randlen,#randman{
    width: 3rem;
}
#randgenopt{
    resize: none;
    overflow-y: scroll;
    display: block;
    width: 80%;
    height: 40%;
    border: solid 1px var(--border_color);
    font-family: sans-serif;
    margin: 0 auto;
}
#datbutton{
    margin-top: 10;
    margin-left:70%;
}
#datgen{
    width: 100%;
}
#datgen_list{
    width: 80%;
    margin: 0 auto;
    background-color: var(--datgen_color);
    border: 10px var(--datgen_border_color) solid;
    border-radius: 5px;
    padding: 5px;
}
#save_button,#tempsave_button{
    background-color: #00AA00;
    border: none;
}
#saveload{
    padding-left: 15%;
}
#saveload>*{
    text-align: left;
}
#load_button{
    background-color: #DD0000;
    border: none;
}
#subsnum{
    width: 3rem;
}
#subssel{
    width: 7rem;
}
#preview{
    color: var(--box2_font_color);
    display: block;
    overflow-y: scroll;
    height: 97vh;
}
#easy_preview{
    color: var(--box2_font_color);
    display: block;
    overflow-y: scroll;
    height: 100%;
    width: 100%;
}
#abss{
    position: relative;
}
.abssc{
    color: var(--box2_font_color);
    position: absolute;
    min-width: 30%;
    background-color: var(--message_color);
    pointer-events: none;
    visibility: hidden;
    width: auto;
}
.abssneko{
    width: 100%;
    border: solid 1px var(--border_color);
    margin: 0;
    padding: 0;
    pointer-events: auto;
    overflow-wrap : break-word;
}
.abssc:hover,.abssc[data-flag="true"],.abssc:hover~.abssc{
    visibility: visible;
}

#replace button{
    width: 50%;
    margin-bottom: 0;
    margin-top: auto;
}
#replace_list{
    background-color: var(--replace_list_color);
    display: block;
    margin-top: 0;
    margin-bottom: 0;
    height: 100%;
    overflow-y: scroll;
    width: 100%;
    resize: none;
}
#replace_div{
    width: 40%;
    display: block;
    height: 20vh;
    resize: none;
    margin: auto;
    margin-top: 3vh;
}
header{
    overflow-y: hidden;
    overflow-x:auto;
}
#messv{
    display: block;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    line-height: calc(2ex + 2px);
    box-sizing: border-box;
}
#mess_add{
    border: var(--border_color) 1px solid;
    color: var(--addmess_font_color);
    background-color: var(--footer_color);
    box-sizing: border-box;
    display: block;
    height: 100%;
    width: 100%;
    padding: 2px;
}
#addmesssetts{
    background-color: var(--footer_color);
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    min-height: calc(2ex + 8px);
    height: calc(2ex + 8px);
    padding: 2px;
}
#messvdiv{
    margin-right: 5px;
    width: 3rem;
    height: calc(2ex + 4px);
}
#mess_adddiv{
    height: calc(2ex + 4px);
}
#plainsearchdiv,#plainreplacediv{
    display: flex;
    height: calc(1.2rem + 4px);
}
#ps_reg,#plainsearch,#plainreplace{
    border: solid 2px var(--border_color);
    font-size: 1.2rem;
    overflow: hidden;
    line-height: 1.2rem;
    height: 100%;
    box-sizing: border-box;
}
.indent{
    height: 1.2rem;
    width: 1.2rem;
    overflow: hidden;
}
#ps_reg{
    width:1.2rem;
}
#ps_reg_label{
    background-color: var(--tabbutton_color);
    color: var(--textinput_font_color);
    cursor: pointer;
    user-select: none;
}
#ps_reg_cb:checked+#ps_reg_label{
    color: var(--checked_color);
}
#ps_reg_label:hover:not(#ps_reg_cb:checked+#ps_reg_label){
    filter: brightness(1.2);
}
#ps_reg_cb{
    display: none;
}
#plainsearch,#plainreplace{
    display: block;
    resize: none;
    width: calc(100% - 2.4rem);
    overflow-y: scroll;
}
#plainreplace{
    width: calc(100% - 3.6rem)
}
#plainreplacebutton{
    margin: 0;
    padding: 1px;
    width: 2.4rem;
    font-size: 1rem;
    line-height: 1.2rem;
}
#temp_select{
    display: flex;
    justify-content: center;
}
#temp_select>button{
    width: 1.5rem;
}
#temp_select_number{
    box-sizing: border-box;
    text-align: center;
    width: 3rem;
}
.no-spin::-webkit-inner-spin-button,
.no-spin::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
    -moz-appearance:textfield;
}
.tempselectdiv{
    margin: 0

}
.tempselect{
    margin-left: auto;
    display: none;
    width: 2rem;
}
.tempselect option{
    display: none;
}
.messagediv:hover .tempselect,.tempselect:focus,.messagediv:hover .tempselect option,.tempselect:focus option{
    display: inline-block;
}
textarea,input[type="text"],input[type="number"],input[type="search"]{
    background-color: var(--textinput_color) !important;
    color: var(--textinput_font_color);
    border: none;
}
button:hover{
    filter: brightness(1.2);
}
button:active{
    filter: brightness(0.7);
}
#settings{
    height: 100%;
    width: 100%;
    padding: 5% 5%;
}
#settingsearch{
    font-size: 1.1rem;
    line-height: 1.5rem;
    display: block;
    width: 90%;
    height: 1.5rem;
}
#settingflex{
    display: flex;
    margin-top: 10px;
    height: calc(100% - 1.5rem - 10px - 10%);
    width: 90%;
    box-sizing: border-box;
}
#settingflex *{
    box-sizing: border-box;
}
#settingtab{
    height: 100%;
    width: 25%;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    box-sizing: border-box;
}
#settinginput{
    margin-left: 10px;
    border: 1px solid var(--border_color);
    height: 100%;
    width: calc(75% - 10px);
    background-color: var(--box3_color);
}
#settinginput>*:not(.setradised){
    display: none;
}
#settingtab>input{
    display: none;
}
#settingtab>label{
    box-sizing: border-box;
    display: block;
    line-height: 1.5rem;
    font-size: 1rem;
    background-color: var(--tabbutton_color);
    border-left: 5px solid var(--tabbutton_color)
}
#settingtab input:checked + label{
    border-left: 5px solid var(--selected_tab_font_color);
    background-color: var(--unselected_tab_color)
}
#settingtab>label:hover{
    background-color: var(--unselected_tab_color)
}
#settinginput>*:not(.setradised){
    display: none;
}
.meslock{
    height: 1rem;
    width: 1rem;
    margin-right: auto;
}
.meslocklabel{
    display: block;
    height: 100%;
    width: 100%;
    background: url(images/icons/unlock.svg) no-repeat;
    background-size: contain;
    background-position: top;
}
.meslocklabel:hover{
    filter: brightness(1.2);
}
.meslockcheck{
    display: none;
}
.locked_mess .meslocklabel{
    background-image: url(images/icons/lock.svg);
}
.locked_mess input:not(.meslockcheck),.locked_mess button,.locked_mess textarea{
    pointer-events: none;
    filter: brightness(0.7);
}
.hresizer{
    position: relative;
    height: 100%;
    margin:0;
    padding: 0;
    cursor:col-resize;
    width: 2px;
    background-color: var(--border_color);
}
.vresizer{
    position: relative;
    width: 100%;
    margin:0;
    padding: 0;
    cursor:row-resize;
    height: 2px;
    background-color: var(--border_color);
}
.hresizer::after{
    width: 8px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: -3px;
    z-index: 1;
    pointer-events: auto;
    content: "";
    background-color: transparent;
}
.vresizer::after{
    height: 8px;
    position: absolute;
    top: -3px;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    pointer-events: auto;
    content: "";
    background-color: transparent;
}
.functionselectdiv{
    display: flex;
}
.margdiv{
    height: 1%;
}
.margdiv2{
    height: 2%;
}
.functionselect{
    color: inherit;
    height: calc(1em + 2px);
    max-height: 100%;
    width: 100%;
    background-color: transparent;
    border:1px transparent solid;
    font-weight: bolder;
    line-height: 1em;
}
.functionselect option{
    font-size: medium;
    background-color: transparent;
}
#datapul_sets{
    width: 100%;
    height:50%;
    overflow: hidden;
}
#datapul_sets_in{
    width: 100%;
    height: 100%;
    overflow-y: auto;
}
#settinginput>div>div{
    padding: 10px;
    background-color: var(--box3_color);
}
#settinginput>div>div:hover{
    filter: brightness(1.2);
}
#settinginput>div>div>h3{
    font-size: medium;
    color: var(--selected_tab_font_color);
    padding: 0;
    margin: 0;
    margin-bottom: 3px;
}
#settinginput select{
    display: inline;
}
.mainer{
    height: calc(100% - var(--title_font_size));
    width: 100%;
}
#unvisiblesf{
    visibility: hidden;
    display: none;
}
#textadder_div{
    display: flex;
    flex-direction: column;
    padding: 0;
    padding-left: 10px;
    padding-right: 10px;
    overflow-y: scroll;
    height: 100%;
    box-sizing: border-box;
}
#textadder{
    width: calc(100% - 20px);
    font-size: 200%;
    line-height: 1em;
    border-radius: 0.5em;
    margin-top: 0.25em;
    outline: none;
}

#textadder_div>div{
    margin-top: 0.5em;
    overflow:hidden;
    width: 100%;
    display: block;
    box-sizing: border-box;
    border: 1px solid var(--message_border_color);
    padding: 1px;
    height: auto;
}
#textadder_div>div>div>button{
    font-size: 1.1em;
    line-height: 1em;
}
#textadder_div>div>textarea{
    line-height: 1em;
    height: 4.5rem;
    overflow-y: scroll;
    width: 100%;
    resize: vertical;
    display: block;
    letter-spacing:-0.1em;
}

#startmenudiv{
    position: relative;
}
.nonono_startmenu #startmenu{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    height: 80vh;
    width: 100vh;
    z-index: 10;
    box-shadow: 10px 5px 20px var(--color_2);
    background-color: var(--color_3);
}
.nonono_startmenu #startmenu_back{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    height: 100vh;
    width: 100vw;
    z-index: 9;
    background-color: #00AA00;
    opacity: 0;
}