button{
    color: var(--button_font_color);
    background-color: var(--button_color);
    border: 1px solid var(--button_border_color);
}
*:focus{
    outline: var(--outline_color) solid 1px;
    outline-offset: -1px;
}
::selection{
    background: var(--selection_color);
    caret-color: var(--caret_color);
}
html{
    height: 100%;
    overflow: hidden;
    font-family: sans-serif;
    --vh:1vh;
    --vw:1vw;
}
body{
    margin:0;
    padding:0;
}
code{
    background-color: white;
    color: #000;
}
a:visited{
    color: blue;
    text-decoration: none;
}
li{
    margin-left: 3px;
}
#box{
    display: flex;
    width: calc(var(--vw) * 100);
    height: calc(var(--vh) * 100);
}
#box2, #box3,#box4{
    color:white;
    border: solid 1px var(--border_color); 
    box-sizing: border-box;
    overflow: hidden !important;
    height: 100%;
}
#box2{
    display: flex;
    flex-direction: column;
    border-right: none;
    overflow: auto;
    width : calc(25% - 1px);
    background-color: var(--box2_color);
    color: var(--box2_font_color);
}
.mainer[data-mainub="0"]{
    text-align: center;
    display: flex;
    flex-direction: column;
}
#box3{
    --remer:1rem;
    border-left: none;
    border-right: none;
    width : calc(50% - 2px);
    background-color: var(--box3_color);
    color: var(--box3_font_color);
}
#box4{
    background-color: var(--box4_color);
    color: var(--box4_font_color);
    width : calc(25% - 1px);
    display: flex;
    flex-direction: column;
    border-left: none;
}
#templatep{
    height: 40%;
    width: 80%;
    margin: 0 auto;
    background-color: var(--textinput_color);
    position: relative;
}
#template,#template_highlighter{
    position: absolute;
    margin: 0;
    height: 100%;
    width: 100%;
    resize : none;
    background: transparent !important;
    text-align: left;
    font-size: 16px;
    line-height: 1.5em !important;
    font-family: sans-serif;
    display: block;
    box-sizing: border-box;
    letter-spacing: 0;
    white-space: pre-wrap !important;
    overflow-wrap: anywhere !important;
    overflow-y: scroll;
}
#template{
    padding: 1px;
    z-index: 5;
}
#template_highlighter{
    pointer-events: none;
    user-select: none;
    z-index: 6;
    color: transparent;
    padding: 1px !important;
}
#edited{
    display: block;
    color: var(--edited_font_color);
    height:40%;
    width:80%;
    resize:none;
    background-color: var(--edited_color);
    text-align: left;
    border: solid 1px var(--border_color);
    margin: 0 auto;
    line-height: 1.2;
    font-family: sans-serif;
    font-size: 16px;
    letter-spacing: 0;
    white-space: pre-wrap !important;
    overflow-wrap: anywhere !important;
    overflow-y: scroll;
}
h1,h2{
    margin: 0.2em 0;
    text-align: center;
}
#temp_change{
    display: block;
    margin: 0 auto;
    height: 5%;
}
#messages{
    background-color: var(--messages_color);
    height: 70%;
    overflow:auto;
    pointer-events: auto;
    padding-bottom: 2em;
}
#form_inp{
    vertical-align: top;
    font-size: 15px;
    line-height: 20px;
    overflow-y : scroll;
    border: solid 1px var(--border_color);
    background-color: var(--forminp_color);
    height: calc(30% - 2ex - 8px - 4px);
    padding: 3px;
    color: var(--forminp_font_color);
}
.\$,.datgen_div {
    margin: 1px;
    display: inline-block;
    width:10%;
    height: 22px;
    resize:horizontal;
    overflow: hidden;
    padding:0;
    margin:1;
    vertical-align: top;
    color: black;
}
.datgen_div{
    width:12rem;
}
#datgen_list li{
    width: 100%;
}
.\$text,.datgen_div input {
    font-family: sans-serif;
    font-size: 15px;
    padding:0;
    height: 100%;
    width: 100%;
    vertical-align: top;
}
.\$text{
    color: var(--liner_font_color) !important
}
.\|{
    background-color: var(--textinput_color);
    width: 100%;
    height: 4rem;
    margin: 1px;
    resize: vertical;
    box-sizing: border-box;
    overflow-y: hidden;
}
.\|text {
    width: 100%;
    height: 100%;
    display: block;
    font-size: 15px;
    overflow-y: scroll;
    font-family: sans-serif;
    box-sizing: border-box;
    resize: vertical;
    margin: 0;
}
.\|text:empty:before{
    color: var(--textinput_placeholder_color);
    content: attr(placeholder);
    pointer-events: none;
}
::placeholder{
    color: var(--textinput_placeholder_color);
}
.messagediv{
    font-size: 15px;
    line-height: 20px;
    color: var(--message_font_color);
    border: solid var(--message_border_color) 1px;
    border-left-width: 5px !important;
    margin:5px;
    background-color: var(--message_color);
    padding:5px 0;
    padding-top: 0;
    resize: vertical;
    overflow-y: scroll;
}
.messagediv:hover,.checked_md{
    filter:contrast(87%)
}
.message{
    padding: 0 5px;
}
#datapul,#labelpul{
    box-sizing: content-box;
    display: block;
    width: 80%;
    height: 40%;
    border: solid 1px var(--border_color);
    background-color: var(--datapul_color);
    color: var(--box4_font_color);
    font-family: sans-serif;
    margin: 0 auto;
    margin-bottom: 10px;
}
.messagehead{
    background-color: var(--message_color);
    display: flex;
}
.\%{
    cursor: pointer;
}
.\%:active{
    user-select: none;
}
.closebtn{
    user-select: none;
    margin: 0;
    margin-top: 0.1rem;
    margin-left: 30px;
    display: block;
    background-color: var(--closebtn_color);
    color: black;
    text-align: center;
    border: none;
    padding: 0;
    width: 20px;
    height: 20px;
    font-size: 20px;
    border-radius: 10px;
    visibility: hidden;
    cursor: pointer;
    padding: 0;
}
.closebtn:hover{
    background-color: var(--color_1);
}
.closebtn:before{
    display: inline;
    content:"×";
    vertical-align:text-top;
}
.messagediv:hover .closebtn,.checked_md .closebtn{
    visibility: visible;
}
.dragover{
    border: dashed 2px var(--color_1) !important;
}
.nonono :not(.droppable){
    pointer-events:none;
}
.droppable{
    pointer-events: all !important;
}
.nonono_resize :not(.draggingresizer){
    pointer-events:none;
    user-select: none;
}
.nonono_startmenu :not(#startmenu,#startmenu_back,#startmenu *,#startmenu_back *){
    pointer-events:none;
    user-select: none;
}
#mesandform{
    padding-top: 3px;
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    position: relative;
}
.tab{
    height: var(--remer);
    display: flex;
}
.tab_header{
    height: 100%;
    width: calc(100% - calc(4 * var(--remer)));
    padding: 0;
    overflow: hidden;
}
.tab_header_in{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
.tab_controller{
    user-select: none;
    box-sizing: border-box;
    border: var(--border_color) solid 1px;
    height: var(--remer);
    width: var(--remer);
    color: var(--tabbutton_font_color);
    line-height: var(--remer);
    background-color: var(--tabbutton_color);
}
.tab_controller:hover{
    filter: brightness(1.2);
}
.tab_controller:active{
    filter: brightness(0.7);
}
.tab_item{
    user-select: none;
    flex-grow: 1;
    display: block;
    padding-top: 0;
    font-size: 1rem;
    line-height: var(--remer);
    height: var(--remer);
    text-align: center;
    background-color: var(--unselected_tab_color);
    margin: 0;
    margin-bottom: calc(0.3 * var(--remer));
    box-sizing: border-box;
    border-right: solid 2px var(--border_color);
}
.tab_item:hover {
    filter: brightness(1.2);
}
.tab_header_in>input {
    display: none;
}
.tab_header_in input:checked+.tab_item{
    background-color: var(--box3_color);
    color: var(--selected_tab_font_color);
    border-bottom: none;
}
.tab_header_in input:checked+.tab_item:hover{
    filter: none;
}
#tab_cont{
    height: calc(100% - var(--remer));
    width: 100%;
}
.tabconter>*:not(.radised){
    display: none !important;
}
.neko{
    border: var(--border_color) 1px solid;
    margin:5px;
    background-color: var(--message_color);
    padding:5px;
    padding-top: 0;
}
#box4_1{
    border: solid 1px var(--border_color);
    border-bottom: none;
    height: calc(50% - 1px);
}
#box4_2{
    border: solid 1px var(--border_color);
    border-top: none;
    height: calc(50% - 1px)
}
#plaintext{
    display: flex;
    padding: calc(var(--vh) * 5);
}
#plainsidemenu{
    display: flex;
    flex-direction: column;
    padding-left: 10px;
    width:35%;
}
#previewplaindiv{
    width: 65%;
    font-size: 1.2rem;
}
#previewplain{
    box-sizing: border-box;
    display: block;
    border: solid 2px var(--border_color);
    margin: auto;
    height: calc(var(--vh) * 87);
    width: 100%;
    resize: none;
    overflow-y: scroll;
}
#plainsidemenu textarea{
    margin-left: 1.2em;
    border: solid 2px var(--border_color);
    display: block;
    overflow-y: scroll;
    font-size: 1rem;
    height: 5rem;
    width: calc(100% - 1em);
    box-sizing: border-box;
}
#randlen,#randman{
    width: 3rem;
}
#plainsidemenu h3{
    margin: 5px 0;
}
#randgenopt{
    resize: none;
    overflow-y: scroll;
    display: block;
    width: 80%;
    height: 40%;
    border: solid 1px var(--border_color);
    font-family: sans-serif;
    margin: 0 auto;
}
#datbutton{
    margin-top: 10;
    margin-left:70%;
}
#datgen{
    width: 100%;
}
#datgen_list{
    width: 80%;
    margin: 0 auto;
    background-color: var(--datgen_color);
    border: 10px var(--datgen_border_color) solid;
    border-radius: 5px;
    padding: 5px;
}
#save_button,#tempsave_button,#setsave_button{
    background-color: #00AA00;
    border: none;
}
#saveload{
    padding-left: 15%;
}
#saveload>*{
    text-align: left;
}
.load_button{
    background-color: #DD0000;
    border: none;
}
#subsnum{
    width: 3rem;
}
#subssel{
    width: 7rem;
}
#preview{
    color: var(--box2_font_color);
    display: block;
    overflow-y: scroll;
    height: calc(100% - var(--remer));
}
#easy_preview{
    color: var(--box2_font_color);
    display: block;
    overflow-y: scroll;
    height: 100%;
    width: 100%;
}
#abss{
    position: relative;
}
.abssc{
    color: var(--box2_font_color);
    position: absolute;
    min-width: 30%;
    background-color: var(--message_color);
    pointer-events: none;
    visibility: hidden;
    width: auto;
}
.abssneko{
    width: 100%;
    border: solid 1px var(--border_color);
    margin: 0;
    padding: 0;
    pointer-events: auto;
    overflow-wrap : break-word;
}
.abssc:hover,.abssc[data-flag="true"],.abssc:hover~.abssc{
    visibility: visible;
}
#replace button{
    width: 50%;
    margin-bottom: 0;
    margin-top: auto;
}
#replace_list{
    background-color: var(--replace_list_color);
    display: block;
    margin-top: 0;
    margin-bottom: 0;
    height: 100%;
    overflow-y: scroll;
    width: 100%;
    resize: none;
}
#replace_div{
    width: 40%;
    display: block;
    height: calc(var(--vh) * 20);
    resize: none;
    margin: auto;
    margin-top: 1rem;
}
header{
    overflow-y: hidden;
    overflow-x:auto;
}
#messv{
    display: block;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    line-height: calc(2ex + 2px);
    box-sizing: border-box;
}
#mess_add{
    border: var(--border_color) 1px solid;
    color: var(--addmess_font_color);
    background-color: var(--footer_color);
    box-sizing: border-box;
    display: block;
    height: 100%;
    width: 100%;
    padding: 2px;
}
#addmesssetts{
    background-color: var(--footer_color);
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    min-height: calc(2ex + 8px);
    height: calc(2ex + 8px);
    padding: 2px;
}
#messvdiv{
    margin-right: 5px;
    width: 3rem;
    height: calc(2ex + 4px);
}
#mess_adddiv{
    height: calc(2ex + 4px);
}
.plainddd{
    display: flex;
    height: calc(1.2rem + 4px);
}
.plainddd>input[type="text"],#ps_reg{
    border: solid 2px var(--border_color);
    font-size: 1.2rem;
    overflow: hidden;
    line-height: 1.2rem;
    height: 100%;
    box-sizing: border-box;
}
.indent{
    height: 1.2rem;
    width: 1.2rem;
    overflow: hidden;
}
#ps_reg{
    width:1.2rem;
}
#ps_reg_label{
    background-color: var(--tabbutton_color);
    color: var(--textinput_font_color);
    cursor: pointer;
    user-select: none;
}
#ps_reg_cb:checked+#ps_reg_label{
    color: var(--checked_color);
}
#ps_reg_label:hover:not(#ps_reg_cb:checked+#ps_reg_label){
    filter: brightness(1.2);
}
#ps_reg_cb{
    display: none;
}
.plainddd>input[type="text"]{
    display: block;
    resize: none;
    width: calc(100% - 2.4rem);
    overflow-y: scroll;
}
#plainreplace{
    width: calc(100% - 3.6rem)
}
#plainreplacebutton{
    margin: 0;
    padding: 1px;
    width: 2.4rem;
    font-size: 1rem;
    line-height: 1.2rem;
}
#temp_select{
    display: flex;
    justify-content: center;
}
#temp_select>button{
    width: 1.5rem;
}
#temp_select_number{
    box-sizing: border-box;
    text-align: center;
    width: 3rem;
}
.no-spin::-webkit-inner-spin-button,
.no-spin::-webkit-outer-spin-button{
    -webkit-appearance: none;
    margin: 0;
    -moz-appearance:textfield;
}
.no-spin{
    -moz-appearance:textfield;
}
.tempselectdiv{
    margin: 0
}
.tempselect{
    margin-left: auto;
    display: none;
    width: 2rem;
}
.tempselect option{
    display: none;
}
.messagediv:hover .tempselect,.tempselect:focus,.messagediv:hover .tempselect option,.tempselect:focus option,.checked_md .tempselect,.checked_md .tempselect option{
    display: inline-block;
}
textarea:not(.\|text),input[type="text"]:not(.\$text),input[type="number"],input[type="search"],select:not(.functionselect),option{
    background-color: var(--textinput_color) !important;
    color: var(--textinput_font_color);
    border: none;
}
button:hover{
    filter: contrast(0.8);
}
button:active{
    filter:  contrast(1.2);
}
#settings_div{
    height: 100%;
    width: 100%;
    padding: 5% 5%;
}
#settingsearch{
    font-size: 1.1rem;
    line-height: 1.5rem;
    display: block;
    width: 90%;
    height: 1.5rem;
}
#settingflex{
    display: flex;
    margin-top: 10px;
    height: calc(100% - 1.5rem - 10px - 10%);
    width: 90%;
    box-sizing: border-box;
}
#settingflex *{
    box-sizing: border-box;
}
#settingtab{
    height: 100%;
    width: 25%;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    box-sizing: border-box;
}
#settings{
    margin-left: 10px;
    border: 1px solid var(--border_color);
    height: 100%;
    width: calc(75% - 10px);
    background-color: var(--box3_color);
    overflow-y: scroll;
}
.headright{
    display:flex;
    height: 1rem;
    margin-right: auto;
}
.meslocklabel{
    display: block;
    height: 100%;
    width: 1rem;
    background: url(images/icons/unlock.svg) no-repeat;
    background-size: contain;
    background-position: top;
}
.meslocklabel:hover{
    filter: brightness(1.2);
}
.meslockcheck{
    display: none;
}
.locked_mess .meslocklabel{
    background-image: url(images/icons/lock.svg);
}
.locked_mess .message,.locked_mess .closebtn,.locked_mess .tempselectdiv{
    pointer-events: none;
    filter: brightness(0.7);
}
.hresizer{
    position: relative;
    height: 100%;
    margin:0;
    padding: 0;
    cursor:col-resize;
    width: 2px;
    background-color: var(--border_color);
}
.vresizer{
    position: relative;
    width: 100%;
    margin:0;
    padding: 0;
    cursor:row-resize;
    height: 2px;
    background-color: var(--border_color);
}
.hresizer::after{
    width: 8px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: -3px;
    z-index: 1;
    pointer-events: auto;
    content: "";
    background-color: transparent;
}
.vresizer::after{
    height: 8px;
    position: absolute;
    top: -3px;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    pointer-events: auto;
    content: "";
    background-color: transparent;
}
.margdiv{
    height: 1%;
}
.margdiv2{
    height: 2%;
}
.functionselectdiv{
    display: flex;
    padding: 0;
    margin: 0;
}
.functionselect{
    background-color: inherit;
    padding: 0;
    color: inherit;
    height: 100% !important;
    min-height: 100% !important;
    width: 100%;
    border:1px transparent solid;
    font-weight: bolder;
    line-height: 100%;
    padding: 0;
    display: block;
}
.functionselect option{
    margin: 0;
    font-size: medium;
}
#datapul_sets,#labelpul_sets{
    width: 100%;
    height:50%;
    overflow: hidden;
}
#datapul_sets_in,#labelpul_sets_in{
    width: 100%;
    height: 100%;
    overflow-y: auto;
}
#datapul_sets_in input[type="text"]{
    max-width: 90%;
}
#labelpul_sets_in input[type="text"]{
    max-width: 90%;
}
.settdiv{
    padding: 10px;
    background-color: var(--box3_color);
}
.settdiv label{
    user-select: none;
}
.settdiv label:hover{
    cursor: pointer;
}
.settdiv:hover,#settings h1:hover{
    filter: contrast(0.8);
}
.settdiv>h3{
    font-size: 0.8rem;
    color: var(--selected_tab_font_color);
    padding: 0;
    margin: 0;
    margin-left: -10px;
}
#settings select{
    display: block;
}
#settings textarea{
    display: block;
    resize: none;
    width: 80%;
    height: 4em;
}
#settings h1{
    background-color: var(--box3_color);
    text-align: left;
    display: block;
    margin: 0;
    color:var(--color_3)
}
.mainer{
    height: calc(100% - var(--title_font_size));
    width: 100%;
}
#unvisiblesf{
    visibility: hidden;
    display: none;
}
#textadder_div{
    display: flex;
    flex-direction: column;
    padding: 0;
    padding-left: 10px;
    padding-right: 10px;
    overflow-y: scroll;
    height: 100%;
    box-sizing: border-box;
}
#textadder{
    width: calc(100% - 20px);
    font-size: 200%;
    line-height: 1em;
    border-radius: 0.5em;
    margin-top: 0.25em;
    outline: none;
}
#textadder_div>div{
    margin-top: 0.5em;
    width: 100%;
    display: block;
    box-sizing: border-box;
    border: 1px solid var(--message_border_color);
    padding: 1px;
}
#textadder_div>div>div>button{
    font-size: 1.1em;
    line-height: 1em;
}
#textadder_div>div>textarea{
    line-height: 1em;
    height: 4.5rem;
    overflow-y: scroll;
    width: 100%;
    resize: vertical;
    display: block;
    letter-spacing:-0.1em;
}
#startmenu_back{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    height: calc(var(--vh) * 100);
    width: calc(var(--vw) * 100);
    z-index: 9;
    background-color: #00AA00;
    opacity: 0;
}
#startmenu{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    height: 70vmin;
    width: 70vmin;
    z-index: 10;
    box-shadow:0px 0px 32px 10px #000000;
    border-radius: 5px;
    background-color: var(--color_5);
    color: var(--color_3);
}
#startmenu{
    display: grid;
    grid-template-rows:30% 70%;
    grid-template-columns: 50% 50%;
}
#startmenu_c{
    position: relative;
    grid-row: 1 / 2;
    grid-column: 1 / 3;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
        "c1 c2 c3"
        "c4 c5 c6"
        "c7 c8 c9";
    box-sizing: border-box;
    border-bottom: solid 3px var(--border_color);
}
#startmenu_c>div:nth-child(1){
    grid-area: c1;
    --cbackcolor:var(--color_1);
    border-top-left-radius: 5px;
}
#startmenu_c>div:nth-child(2){
    grid-area: c2;
    --cbackcolor:var(--color_2);
}
#startmenu_c>div:nth-child(3){
    grid-area: c3;
    --cbackcolor:var(--color_3);
    border-top-right-radius: 5px;
}
#startmenu_c>div:nth-child(4){
    grid-area: c4;
    --cbackcolor:var(--color_4);
}
#startmenu_c>div:nth-child(5){
    grid-area: c5;
    --cbackcolor:var(--color_5)
}
#startmenu_c>div:nth-child(6){
    grid-area: c6;
    --cbackcolor:var(--color_6)
}
#startmenu_c>div:nth-child(7){
    grid-area: c7;
    --cbackcolor:var(--color_7)
}
#startmenu_c>div:nth-child(8){
    grid-area: c8;
    --cbackcolor:var(--color_8)
}
#startmenu_c>div:not(.scb){
    background-color: var(--cbackcolor);
}
#startmenu:not(.nonono_startmenu *){
    display: none;
}
#startmenu_back:not(.nonono_startmenu *){
    display: none;
}
#startmenu_c_prev,#startmenu_c_next{
    position: absolute;
    background-color: var(--color_6);
    opacity: 0;
    top: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
#startmenu_c_prev{
    right:75%;
    left: 0;
    grid-row: 1 / 4;
    grid-column: 1 / 2;
}
#startmenu_c_prev:hover,#startmenu_c_next:hover{
    opacity: 0.5;
}
#startmenu_c_prev:active,#startmenu_c_next:active{
    opacity: 0.8;
}
#startmenu_c_prev>div{
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 4vmin 5.2vmin 4vmin 0;
    border-color: transparent var(--color_3) transparent transparent;
}
#startmenu_c_next{
    left: 75%;
    right: 0;
    grid-row: 1 / 4;
    grid-column: 3 / 4;
}
#startmenu_c_next>div{
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 4vmin 0 4vmin 5.2vmin;
    border-color: transparent transparent transparent var(--color_3);
}
#startmenu_c_title{
    background-color: var(--color_1);
    color: var(--color_3);
    font-family: monospace;
    line-height: 7vmin;
    font-size: calc(70vmin / 12);
    user-select: none;
}
#startmenu_l{
    font-size: 0.9rem;
    grid-row: 2 / 3;
    grid-column: 1 / 3;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    display: flex;
    flex-direction: column;
    padding: 0.5rem 2rem;
}
#startmenu_l>div{
    width: 100%;
    display: flex;
    height: 25%;
    margin-bottom: 10px;
}
#startmenu_l h3{
    margin: 0;
    color: var(--color_3);
    filter:brightness(0.6);
    font-size: 1em;
}
#startmenu_l>div>div:not(#startmenu_loadmenu *){
    user-select: none;
    cursor: pointer;
    margin: 0;
    height: 100%;
    line-height: 1.4em;
    width: calc(25% - 10px);
    display: block;
    width: 100%;
    background-color: var(--color_3);
    border-radius: 20px;
    margin-right: 10px;
    color: var(--color_5);
    text-align: center;
}
#startmenu_l>div>div>svg{
    margin-top: 0.4em;
    height: calc(100% - 1.9em);
    width: 100%;
    fill: var(--color_1);
}
#startmenu_l>div>div:hover:not(#startmenu_loadmenu *){
    filter: invert(1);
}
#startmenu_l li{
    width: 100%;
    margin: 0;
    line-height: 1.4em;
    display: block;
    height: 1.4em;
    overflow: hidden;
}
#startmenu_l li:hover{
    background-color: var(--color_1);
}
#startmenu_load_inp{
    display: none;
}
#startmenu_loadmenu li,#startmenu_loadmenu li *{
    cursor: pointer;
    user-select: none;
}
.messelectcheck{
    display: block;
    margin-right: auto;
    height: 1rem;
    width: 1rem;
}
.checked_md{
    border-style: solid !important;
    border-color: var(--color_1) !important;
}
.messagediv{
    border-left-width: 5px !important;
}
.settinfo{
    color:var(--color_3);
    filter: contrast(0.5);
    font-size: 0.7rem;;
}
#settingtab input{
    display: none;
}
#settingtab input+label{
    cursor: pointer;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    display: block;
    height: 1em;
    width: 1em;
}
#settingtab input:checked+label>div{
    transform: rotate(45deg);
}
#settingtab input+label>div{
    box-sizing: border-box;
    transform-origin: center;
    margin-top: 0.15em;
    margin-left: 0.15em;
    height: 0.7em;
    width: 0.7em;
    transform: rotate(-45deg);
    border-bottom: solid 2px #ffffff;
    border-right: solid 2px #ffffff;
    transition: 50ms;
}
#settingtab input+label+a{
    display: block;
    color: inherit;
    padding-left: 0.5em;
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}
#settingtab>div{
    font-size: 1em;
    line-height: 1em;
    width: 100%;
    display: grid;
    grid-template-columns:1em 1fr;
    background-color: var(--message_color);
    cursor: pointer;
    grid-template-rows:repeat(1em);
}
#settingtab>div a~div{
    display: none;
    width: 100%;
    height: 1em;
    grid-column: 2 / 3;
    grid-template-columns:1em 1fr;
    background-color: var(--message_color);
    cursor: pointer;
    grid-template-rows:repeat(1em);
}
#settingtab input:checked+label+a~div{
    display: grid;
}
.unfilt{
    display: none !important;
}
mark{
    background-color: var(--checked_color);
}
#datamemoselpul{
    display: block;
    box-sizing: border-box;
    background-color: var(--datapul_color);
    color: var(--box4_font_color);
    border: none;
    height: 100%;
    width: 50%;
}
#datamemopul{
    display: block;
    width: 90%;
    margin: 0 auto;
    margin-top: 5px;
}
#datamemopuldiv{
    margin: 0 auto;
    margin-top: 5px;
    display: flex;
    height: calc(100% - 20px - 4em);
    width: 90%;
    font-family: sans-serif;
    margin-bottom: 10px;
}
#datamemo{
    font-size: large;
    display: block;
    width: 50%;
    height: 100%;
    resize: none;
}
#datamemobuttondiv{
    width: 90%;
    margin:0 auto;
    display: flex;
    height: 2em;
    margin-bottom: 10px;
    justify-content: center; 
    align-items: center;
}
#datamemobuttondiv div{
    position: relative;
    font-size: 2em;
    user-select: none;
    vertical-align: middle;
}
#datamemobuttondiv div:hover{
    cursor: pointer;
    filter: contrast(0.8);
}
#datamemobuttondiv div:active{
    filter:  contrast(1.2);
}
#datamemobuttondiv div[data-notif="true"]::before{
    content: "";
    display: block;
    position: absolute;
    width: 10px;
    height: 10px;
    box-sizing: border-box;
    padding: 4px;
    font-weight: bold;
    background-color: #ff0400;
    border-radius: 5px;
    top: 0;
    right: 0;
    transform: translate(0, 50%);
}
.pulg{
    color: #006800;
}
#plainindentex{
    width:calc(100% - 1.2rem)
}
#plaincopybutton{
    display: block;
    margin: auto;
    margin-top: 5px;
    margin-right: 0;
}
#putmessagediv{
    height: 100%;
    width: 100%;
    background-color: inherit;
    overflow-y: scroll;
}
.put_dragover{
    background: repeating-linear-gradient(
        -45deg,
        var(--color_1),
        var(--color_1) 10px,
        transparent 10px,
        transparent 20px
    );
}
.contextmenu{
    width: calc(var(--vw) * 20);
    color: var(--tabbutton_font_color);
    z-index: 100;
    right: auto;
    bottom: auto;
    display: none;
    font-size: 1rem;
    line-height: 1rem;
    position:absolute;
    padding: 0.3rem;
    background-color: var(--color_8);
    border: 1px solid var(--color_5);
    flex-direction: column;
}
.contextmenu>div{
    width: calc(100% - 0.6rem);
    cursor: pointer;
    padding: 0.1rem 0.3rem;
}
.contextmenu>div:hover{
    background-color: var(--selection_color);
}
#contextmenu_additionalload_inp{
    display: none;
}

.\|,.\${
    background-color: var(--textinput_color) !important;
    position: relative;
}
.\|text,.\$text{
    color: var(--textinput_font_color);
    border: none;
    position: absolute;
    z-index: 5;
    line-height: 1.2em;
    letter-spacing:normal;
    padding: 0;
    background: transparent !important;
}
.\|:not(*:focus-within) *,.\$:not(*:focus-within) *{
    user-select: none !important;
}
.s_text{
    position: absolute;
    z-index: 4;
    background: transparent !important;
    pointer-events: none;
    color: transparent;
    line-height: 1.2em;
    letter-spacing:normal;
}
.s_\|text{
    white-space: pre-wrap;
    overflow-wrap: break-word;
    width: 100%;
    height: 100%;
    border: none;
    font-size: 15px;
    overflow-y: scroll;
    font-family: sans-serif;
    box-sizing: border-box;
}
.s_\$text{
    white-space: pre;
    font-family: sans-serif;
    font-size: 15px;
    padding:0;
    height: 100%;
    width: 100%;
    vertical-align: top;
}
.s_span{
    padding: 0;
    margin: 0;
    color: transparent !important;
    background-color: var(--color_1);
}
.s_span_special{
    filter: hue-rotate(180deg);
}
#messagesearcherdiv[data-searching="false"]~* .s_span{
    background: transparent;
}
#messagesearcherdiv{
    height: 0;
    padding: 0 0.3em;
    overflow: hidden;
    position: absolute;
    right: 0.5em;
    top: 0;
    background-color: var(--color_5);
    width: 25em;
    transition: 200ms;
    display: flex;
}
#messagesearcherdiv[data-searching="true"]{
    padding: 0.3em;
    z-index: 50;
    box-shadow: 0.2em 0.2em 0.44em 0.1em rgba(0, 0, 0, 0.8);
    overflow: visible;
    height: 1.4em;
}
#messagesearcher{
    display: block;
    height: 1.4em;
    line-height: 1.4em;
    width: 14.6em;
}
#searchfolddiv{
    margin-right: 0.5em;
    font-family: monospace;
    height: 1.4em;
    width: 0.7em;
    line-height: 1.4em;
}
#searchfold:checked+#searchfolddiv{
    height: 2.8em;
}
#searchfold{
    display: none;
}
#searchfold+div>label{
    transform-origin:left center 0;
    display: block;
    cursor: pointer;
    height: 100%;
    width: 100%;
    user-select: none;
    text-align: right;
    font-size: 1.4em;
}
#searchfold:checked+div>label{
    line-height: 0.5em;
    height: 0.5em;
    width: 2em;
    transform: rotate(90deg);
    text-align: center;
}
#searchandreplacediv{
    display: flex;
    flex-direction: column;
}
#messagereplacerdiv{
    display: none;
}

#searchfold:checked~div #messagereplacerdiv{
    margin-top: 0.3em;
    display: flex !important;
}
#messagereplacer{
    display: block;
    height: 1.4em;
    line-height: 1.4em;
    width: 16em;
}
#messagesearcherdiv span,#messagereplacerdiv span{
    font-family: monospace;
    font-size: 1.4em;
    cursor: pointer;
    user-select: none;
}
#messagereplacerdiv span{
    display: block;
    box-sizing: border-box;
    border: 1px solid var(--button_border_color);
    margin-left: 0.2em;
}
#search_regcheck{
    display: none;
}
#search_regcheck+label{
    display: block;
    cursor: pointer;
    font-family: monospace;
    background-color: var(--textinput_color);
    font-size: 1.4em;
}
#search_regcheck:checked+label{
    color: var(--color_1);
}
#searchcounter{
    display:inline;
    line-height: 1.4em;
    font-size: 0.9em !important;
    white-space: pre;
    vertical-align: middle;
}
.highlight_comment{
    padding: 0;
    margin: 0;
    background-color: rgba(0, 0, 0, 0.3);
}

label{
    user-select: none;
}
li{
    list-style:inside;
}
#startmenu_loadmenu{
    display: flex;
}
#startmenu_loadmenu>*{
    width: 50%;
}
#tab_cont>*:not(#mesandform){
    overflow-y:scroll;
    height: 100%;
}
#box0{
    display: flex;
    flex-direction: column;
}
#undermenu{
    display: none;
}

@media screen and (max-width:500px){
    #undermenu{
        display: block;
        height: calc(var(--vh) * 5);
        width: calc(var(--vw) * 100);
        background-color: var(--color_5);
    }
    #box{
        height: calc(var(--vh) * 95);
        overflow-x: hidden;
    }
    #box2,#box3,#box4{
        min-width: calc(var(--vw) * 100);
    }
    #cmover{
        display: block;
        height: 100%;
        width: 80%;
        margin: 0 auto;
    }
    #box3{
        --remer:2rem;
    }
}

#inputpanel_temp,#inputpanel_message{
    z-index: 30;
    position: absolute;
    bottom:calc(var(--vh) * 5);
    background-color: transparent;
    width: 100%;
    justify-content: space-around;
}
#inputpanel_temp>*,#inputpanel_message>*{
    line-height: 1.5rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    font-size: 1.5rem;
    display: block;
    height: 100%;
}